<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3 class="text-xl font-semibold">Main Info</h3>
      <br />
      <div class="form__control">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" placeholder="Input text" />
        <span *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched" class="text-danger"
          >Title is required and must be at least 2 characters.</span
        >
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" placeholder="Input text" rows="4" cols="5"></textarea>
        <span
          *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched"
          class="text-danger"
          >Description is required and must be at least 2 characters.</span
        >
      </div>
      <div class="separator"></div>
      <label for="authors">Authors</label>
      <div class="form__control">
        <div class="course__flex">
          <input type="text" formControlName="author" placeholder="Input Author Name" />
          <app-button (click)="addAuthor(courseForm.get('author')?.value)" [buttonText]="'CREATE AUTHOR'"></app-button>
        </div>
        <div class="course__authors flex flex-col">
          <div *ngFor="let author of authors.controls; let i = index" class="author-item">
            <div class="flex w-full">
              {{ author.value }}
              <i class="fas fa-trash" (click)="removeAuthor(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <label for="duration">Duration</label>
      <div class="form__control">
        <div class="course__flex">
          <input type="number" id="duration" formControlName="duration" placeholder="Input duration" />
          <div class="course__duration" class="font-semibold ml-2">
            {{ formatDuration(duration?.value) }}
          </div>
          <span class="ml-1">hours</span>
        </div>
        <span *ngIf="courseForm.get('duration')?.invalid && courseForm.get('duration')?.touched" class="text-danger"
          >Duration must be a non-negative number.</span
        >
      </div>
      <div class="form__action flex justify-end gap-2">
        <app-button [buttonText]="'CANCEL'" class="inline-flex"></app-button>
        <app-button [buttonText]="'CREATE COURSE'" class="inline-flex"></app-button>
      </div>
    </div>
  </div>
</form>
